################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/RSA-with-AES-Encryption/v15/Browse.VC.db
